/* Importaciones */
@import url('https://fonts.cdnfonts.com/css/montserrat');
/*font-family: 'Montserrat', sans-serif;*/
@import url('https://fonts.cdnfonts.com/css/ruda');
/* font-family: 'Ruda', sans-serif; */

/* Variables - Pseudoclase */
:root{
    /* TIPOGRAFIAS */
    --tipografiaTexto:'Montserrat', sans-serif;
    --tipografiaTitulos: 'Ruda', sans-serif;
    /* PALETA DE COLORES */
    --colorFondo: white;
    --colorNav: #FFC963;
    --colorContraste: #18C78F;
    --colorContraste2: #57E391;
    --colorFiguras: #FFE1A9;

}

/* Ajuste de margin y padding */
*{
    margin: 0;
    padding: 0;
}

/* Inicio de body */
body{
    /* border: 5px solid violet; */
    background-color: var(--colorFondo);
    overflow-x: hidden;
    box-sizing: border-box;
    width: 100vw;
    height: 100%;
}

/* HEADER */
header{
    width: 100%;
    height: 130px;
    margin-bottom: 0;

}

/* Dar estilos a logo y a inicio de sesion */
.barraLogo{
    background-color: var(--colorFondo);
    width: 100%;
    height: 100px;
    /* Hacer que siempre se fije */
    position: fixed;
    z-index:100;
    top:0;
    left:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--tipografiaTitulos);
    padding-left: 20px;
    padding-right: 20px;
}

/*  ESTILOS LOGO  */
.logo{
    width: 80%;
}
.barraLogo img{
    margin-left: 30px;
    width: 120px;


}

/* ESTILOS ICONO */
.visualizacionCarrito{
    width: 30px;
    height: 30px;
}

.iconoCarrito{
    color:var(--colorContraste);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* NAVEGADOR */

.menuNav{
    background-color: var(--colorNav);
    width: 110%;
    height: 30px;
    position: fixed;
    z-index:100;
    top: 100px;
    left:0;
    padding-left: 20px;
    padding-right: 20px;
}

.listaMenu{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 5%;
    list-style: none;
}

.listaMenu a{
    color: var(--colorFondo);
    text-decoration: none;
    font-family: var(--tipografiaTitulos);
}

/* MAIN */

main{
    border: 3px solid blueviolet;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* BARRA PARA BUSCAR CIUDAD */
.barraBuscar{
    border: 2px solid blue;
    color:var(--colorContraste);
    width: 50%;
    height: 70px;
    margin: 30px;
}

.barraTexto{
    color: var(--colorContraste);
}

/* CATEGORIAS */

.categoriasSection{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-bottom: 50px;
}

.categoriasSection h2{
    color:var(--colorContraste2);
    font-family: var(--tipografiaTitulos);
    font-weight: 900;

}

.categorias{
    width: 100%;
    display: flex;
    justify-content: center;
    /* gap: 5px; */
}

.cajasCategorias{
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cajasCategorias a{
    border:2px solid rgba(0, 0, 0, 0.058);
    text-decoration: none;
    color: black;
    width: 70%;
    height: 100%;
    border-radius: 10px;
    /* Sombra de la caja */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding-top: 20px;
    padding-bottom: 10px;
}

.cajasCategorias a:hover{
    border: 2px solid var(--colorContraste);
}

.imgCategorias{
    /* border: 2px solid blue; */
    margin-bottom: 10px;
}
.cajasCategorias h3{
    font-size: 20px;
    font-weight: 700;
    margin:0;
}

/* VISUALIZACION DE RESTAURANTES */

.restaurantes{
    border: 3px solid blue;
    width: 80%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* CAJAS POR CIUDAD */
.restaurantesCaja{
    border: 2px solid red;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* CAJAS POR RESTAURANTE */
.restaurantes img{
    width: 200px;
}

.opcionRestaurante{
    border: 2px solid violet;
    display: flex;
}

/* FOOTER */
footer{
    background-color: var(--colorContraste);
    width: 100vw;
    height: 300px;
    color: white;
    text-align: center;
}

footer h2{
    font-size: 20px;
    font-weight: 700;
}



.contenidoFooter{
    width: 100%;
    height: 200px;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

/* Contiene todas las clases enlace */
.enlacesFooter{
    height: 200px;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid blue; */
    width: 80%;
}

.enlaces{
    width: 26%;
    height: 40px;
    margin-top: 30px;
    text-align: left;
}

.redes{
    display: flex;
    margin-top: 5%;
    gap: 5%;
}

.redes a, .redes p{
    text-decoration: none;
    color:white;
    font-size: 20px;
    font-family: var(--tipografiaTexto);
}

/* Padre directo de las a */
.infoFooter{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    gap: 5%;

}

.infoFooter a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: var(--tipografiaTexto);
}

/* Logo */
.imgFooter{
    width: 200px;
    height: 200px;
}

.imgFooter img{
    width: 100%;
    height: 100%;
}

/* Copyright */

.copyRight{
    margin:20px;
    font-family: var(--tipografiaTitulos);
    bottom: 0;
    width: 100%;
    height: 50px;
    font-size: 20px;
}
