
@import url('https://fonts.cdnfonts.com/css/montserrat');
@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --colortexto: #18C78F;
    --colortexto2: #FFC963;
    --colorcontraste: #57E391;
    --textTitle: "Ruda", sans-serif;
    --textContent: 'Montserrat', sans-serif;
}






/* ESTILOS DE MODALES */

/* MODAL DE CONSTRUCCION */

.modalConstruccion{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 106;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(128, 128, 128, 0.368);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    /* Para poder interactuar con la pagina */
    pointer-events: none;
    transition: opacity .6s;
}

.modalConstruccion--show{
    opacity: 1;
    pointer-events: unset;
    /* Transicion para hacer mas amable la aparicion */
    transition: opacity .6s;
}
.contenedorModalConstruccion{
    width: 90%;
    max-width: 500px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
}

.contenedorModalConstruccion img{
    width: 150px;
}

.pcons{
    font-family: var(--textContent);
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}

.contenedorModalConstruccion a{
    width: 50px;
    text-align: center;
    text-decoration: none;
    background-color: var(--colortexto2);
    font-family: var(--textContent);
    color: white;
    font-weight: 700;
    font-size: 20px;
    border-radius: 5px;
}

.contenedorModalConstruccion a:hover{
    background-color: var(--colortexto2);
}