@import url('https://fonts.cdnfonts.com/css/montserrat');
@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400..900&display=swap');

:root {
    --colortexto: #18C78F;
    --colortexto2: #FFC963;
    --colorcontraste: #57E391;
    --textTitle: "Ruda", sans-serif;
    --textContent: 'Montserrat', sans-serif;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}




body {
    /* Ancho del tamaño de mi pantalla */
    width: 100vw;
    font-family: var(--textContent);

}

header {
    /* ancho */
    /* vw -> ancho de pantalla
            vh -> alto de pantalla
        */
    width: 100vw;
    margin: 0 auto;

}

.InicioLogo {
    background-color: #ffffff;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;


}

.InicioLogo img {
    width: 150px;
    height: 150px;
    padding: 10px;
    margin-left: 140px;


    display: flex;
    justify-content: space-around;
}

.volver-back img {
    width: 65px;
    height: 65px;
}

.ContenedorInicio ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 100px;
}


.ContenedorInicio Img {
    width: 50px;
    height: 47px;
    margin-right: 10px;
    margin-top: 5px;

}

.img-log {
    border-radius: 50px;
}

/* aca finaliza el encabezado y empieza el menu navegador */
nav {
    width: 100%;
    height: 30px;
    background-color: #FFC963;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2%;
    list-style: none;
    position: fixed;
    z-index: 100;
    top: 100px;
    left: 0;


}


.nav-items {
    margin-left: 50px;

    font-size: 19px;
    font-family: "Ruda", sans-serif;
    color: #ffffff;


}


.baner {

    width: 100%;
    height: 120vh;
    position: relative;
    display: inline-block;
    text-align: center;


}

/* mi imagen ocupa todo el espacio de su padre */
.baner img {
    width: 100%;
    height: 100%;
    /* manipular la img */
    object-fit: cover;
    filter: brightness(0.7);
    /* Reducir el brillo al 80% */

}


.suna {
    text-transform: uppercase;
    position: absolute;
    top: 30%;
    left: 47%;
    transform: translate(-50%, -50%);
    font-family: var(--textTitle);
    font-size: 93px;
    font-weight: bolder;
    color: white;


}

main {
    margin-top: 50px;
}

/* productos */

.misProductos img {
    width: 270px;
    height: 150px;
}

.miContenedor1 {
    padding: 20px 0 40px 0;
}

.miContenedor2 {
    padding-bottom: 20px;
    margin: 50px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.titulosDeSeccion {
    margin-left: 100px;
    font-family: var(--textTitle);
    color: var(--colortexto);
    font-weight: bolder;
}


.chatBot {
    position: fixed;
    right: 20px;
    bottom: 40px;
    color: white;
    width: 50px;
    height: 50px;
    background-color: var(--colorcontraste);
    border-radius: 200%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chatBot i {

    color: white;
    text-decoration: none;
}




.foto-carne {
    width: 240px;
    height: 190px;
    border-radius: 15px;
}

/* FOOTER */
footer {
    background-color: var(--colorContraste);
    width: 100vw;
    height: auto;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}



.contenidoFooter {
    width: 100%;
    height: auto;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

/* Contiene todas las clases enlace */
.enlacesFooter {
    height: auto;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid blue; */
    width: 80%;
}

.enlaces {
    width: 26%;
    height: 40px;
    margin-top: 30px;
    text-align: left;
}

.redes {
    display: flex;
    margin-top: 5%;
    gap: 5%;
}

.redes a,
.redes p {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: var(--tipografiaTexto);
}

/* Padre directo de las a */
.infoFooter {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    gap: 5%;

}

.infoFooter a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: var(--tipografiaTexto);
}

/* Logo */
.imgFooter {
    width: 200px;
    height: 200px;
}

.imgFooter img {
    width: 100%;
    height: 100%;
}








/* aqui emmpieza el responsive para dispositivos moviles */


@media (max-width:1024px) {

    body {
        overflow-x: hidden;
    }


    .miContenedor2 {
        width: 100vw;
        padding: 10px;


    }
    .redes a, .redes p{
        text-decoration: none;
        color:white;
        font-size: 15px;
        font-family: var(--tipografiaTexto);
    }

    .infoFooter a{
        color: white;
        text-decoration: none;
        font-size: 15px;
        font-family: var(--tipografiaTexto);
    }

}

@media (max-width:650px) {



    body {
        width: 100vw;
        overflow-x: hidden;
    }

    header {
        /* ancho */
        /* vw -> ancho de pantalla
                vh -> alto de pantalla
            */
        width: 100vw;

        margin: 0 auto;
    }

    main {
        width: 100vw;
        margin-top: 20px;
    }

.InicioLogo {
    width: 100vw;
    margin: 0 auto;
    margin: 0;
    padding: 0;

}
.InicioLogo img{
    width: 100px;
    height: 100px;
    margin: 0;
    
}
.volver-back img {
    width: 50px;
    height: 50px;
}
.ContenedorInicio img{
    width: 50px;
    height: 50px;  
}

.ContenedorInicio ul{
    margin: 0;
}
nav{
   width: 100vw;
}
.nav-items{
   margin: 0;
   font-size: 10px;
   padding: 0px;
}
.baner{
    
    width: 100vw;
    height: 600px;
}

.suna {
    font-size: 50px;
  
}
.titulosDeSeccion{
    margin: 0 0 0 20px;
}
    .modal-contenedor {
        width: 510px;
        height: 60vh;
    }

    .Eres-Increible {
        width: 100%;
        height: 65px;
        font-size: 20px;
    

    }

    .controles {
        width: 40%;
        padding: 4px 8px;
    }



    .miContenedor2 {
        width: 100vw;
        height: 160vh;
        margin: 0 auto;

    }

    .foto-carne {
        width: 100px;
        height: 100px;


    }
    footer {
        
        width: 100vw;
        height: auto;
    }

    .enlacesFooter {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: space-around;
        padding-top: 0;
        height: 78%;
       
    }

    .contenidoFooter {
        height: 500px;
    }

    .contenidoFooter img {
        width: 100px;
        height: 100px;
    }

    .enlaces {
       
        height: 30%;
        width: 100%;
        margin: 30px;
    }

    .copyRight {
   padding: 10px;
        width: 80%;
    }

}