@import url('https://fonts.cdnfonts.com/css/montserrat');
@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400..900&display=swap');

:root {
    --colortexto: #18C78F;
    --colortexto2: #FFC963;
    --colorcontraste: #57E391;
    --textTitle: "Ruda", sans-serif;
    --textContent: 'Montserrat', sans-serif;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}





body {
    /* Ancho del tamaño de mi pantalla */
    width: 100vw;


}

header {
    /* ancho */
    /* vw -> ancho de pantalla
            vh -> alto de pantalla
        */
    width: 100vw;
    margin: 0 auto;

}

.InicioLogo {
    background-color: #ffffff;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;


}

.InicioLogo img {
    width: 150px;
    height: 150px;
    padding: 10px;
    margin-left: 10px;

}

.ContenedorInicio ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 40px;
}




.ContenedorInicio ul,
.ContenedorInicio a,
.ContenedorInicio span {

    font-family: var(--textContent);
    font-weight: bold;
    color: rgba(0, 0, 0, 0.811);

}

.ContenedorInicio li {
    font-family: var(--textContent);
    font-weight: lighter;
}

.ContenedorInicio ul li img {

    border-radius: 15px;
}

.ContenedorInicio Img {
    width: 60px;
    height: 55px;
    margin-left: -5px;
    margin-top: 5px;

}

.img-log {
    border-radius: 50px;
}

/* aca finaliza el encabezado y empieza el menu navegador */
nav {
    width: 100%;
    height: 30px;
    background-color: #FFC963;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    list-style: none;
    position: fixed;
    z-index: 100;
    top: 100px;
    left: 0;
}


h3 {
    margin: 0;
    font-size: 17px;
    font-family: "Ruda", sans-serif;
    color: #ffffff;

}


.baner {

    width: 100%;
    height: 120vh;
    position: relative;
    display: inline-block;
    text-align: center;


}

/* mi imagen ocupa todo el espacio de su padre */
.baner img {
    width: 100%;
    height: 100%;
    /* manipular la img */
    object-fit: cover;
    filter: brightness(0.7);
    /* Reducir el brillo al 80% */

}


h1 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--textTitle);
    font-size: 83px;
    font-weight: bolder;
    color: white;


}

.parrafo-banner {
    width: 50%;
    height: 220px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    line-height: 50px;
    font-family: var(--textContent);
    font-weight: bold;
    color: white;
    text-align: center;

}

main {

    margin-top: 80px;
}

h2 {
    font-size: 48px;
    text-align: center;
    color: var(--colortexto);
    font-family: var(--textTitle);
    margin-bottom: 100px;
}

.container-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
}

.mision,
.vision {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.mision p,
.vision p {

    width: 50vw;
    text-align: center;
    font-size: 26px;
    font-family: var(--textContent);

}

.vision p span {
    color: var(--colortexto);
    font-weight: bold;
}

strong {
    color: var(--colortexto2);
}

.mision img {
    width: 150px;
    height: 150px;
}

.vision img {
    width: 150px;
    height: 150px;
}

.equipo {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;



}



.equipo img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: solid 6px rgba(81, 90, 85, 0.812);


}



.Our-names {
    font-family: var(--textContent);
    font-size: 20px;
    color: var(--colorcontraste);
    text-decoration-line: overline;

}



.gabriel h4,
.laura h4,
.leonhard h4 {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}

/* ESTILOS DEL CHATBOT */

.chatBot {
    position: fixed;
    right: 20px;
    bottom: 40px;
    color: white;
    width: 50px;
    height: 50px;
    background-color: var(--colorcontraste);
    border-radius: 200%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chatBot i {

    color: white;
    text-decoration: none;
}




.hdos {
    color: white;
    font-size: 20px;
    margin-bottom: 40px;
    text-align: left;
    text-decoration-line: underline;
}

.htres {
    font-size: 15px;
}

/* FOOTER */
footer {
    background-color: var(--colorContraste);
    width: 100vw;
    height: auto;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}



.contenidoFooter {
    width: 100%;
    height: auto;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

/* Contiene todas las clases enlace */
.enlacesFooter {
    height: auto;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid blue; */
    width: 80%;
}

.enlaces {
    width: 26%;
    height: 40px;
    margin-top: 30px;
    text-align: left;
}

.redes {
    display: flex;
    margin-top: 5%;
    gap: 5%;
}

.redes a,
.redes p {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: var(--tipografiaTexto);
}

/* Padre directo de las a */
.infoFooter {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    gap: 5%;

}

.infoFooter a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: var(--tipografiaTexto);
}

/* Logo */
.imgFooter {
    width: 200px;
    height: 200px;
}

.imgFooter img {
    width: 100%;
    height: 100%;
}

/* Copyright */

.copyRight {
    margin: 20px;
    font-family: var(--tipografiaTitulos);
    bottom: 0;
    width: 100%;
    height: 50px;
    font-size: 20px;
}

@media screen and (max-width:1024px) {

    body {
        overflow-x: hidden;
    }

    header {
        /* ancho */
        /* vw -> ancho de pantalla
                vh -> alto de pantalla
            */
        width: 100vw;
        margin: 0 auto;

    }


    main {
        width: 100vw;
    }

    .baner {

        width: 80vh;
        height: 80vh;
    }

    h1 {
        width: 600px;
        font-size: 68px;
    }

    .parrafo-banner {
        height: 150px;

        margin-top: -100px;
    }

    .modal-contenedor {
        width: 520px;
        height: 40vh;
    }

    .Eres-Increible {
        width: 100%;
        height: 65px;
        font-size: 20px;

    }

    .controles {
        width: 40%;
        padding: 4px 8px;
    }





}

/* aqui emmpieza el responsive para dispositivos moviles */
@media (max-width:650px) {




    
    body {
        width: 100vw;
        overflow-x: hidden;
    }

    header {
        /* ancho */
        /* vw -> ancho de pantalla
                vh -> alto de pantalla
            */
        width: 100vw;
        margin: 0 auto;

    }

    main {
        width: 100vw;
        height: 100vh;
        margin: 20px auto;
        
    }

    .InicioLogo {
        width: 100vw;
        margin: 0 auto;

    }

    .InicioLogo img {
        width: 100px;
        height: 100px;
    }

    .ContenedorInicio Img {

        width: 50px;
        height: 50px;
    }

    .ContenedorInicio {
        width: 50vw;

        font-size: 15px;
    }

    .ContenedorInicio ul {
        margin: 0px;
        
    }


    nav {
        width: 100vw;
        padding: 15px;
        margin: 0;
        
    }

    h3 {
        font-size: 10px;
        
    }

    .baner {
        width: 100vw;
        
    }

    h1 {
        width: 350px;
        font-size: 42px;
    }

    h2 {
        
        margin-top: 20px;
        font-size: 28px;
        margin-bottom: 65px;
    }

    .parrafo-banner {
        width: 100vw;
        font-size: 22px;
        padding: 20px;

    }

    .vision,
    .mision {
        
        width: 80vw;
        margin: 0 auto;

        display: flex;
        flex-direction: column;
    }

    .vision img,
    .mision img {
        width: 80px;
        height: 80px;

    }

    .vision p,
    .mision p {
        
        width: 340px;
        font-size: 20px;
        text-align: center;
        margin: 0 auto;
        padding: 10px;

    }

    .container-img {
        
        margin-top: -40px;
        margin-bottom: 10px;
    }

    .equipo {

        display: flex;
        justify-content: center;
        align-items: center;


    }

    .equipo img {
        width: 80px;
        height: 80px;
        margin-left: 20px;

    }

    .gabriel h4,
    .laura h4,
    .leonhard h4 {
        font-size: 15px;
        padding: 15px;
        margin: 5px 0;

        text-align: center;
    }

    .modal-contenedor {
        width: 510px;
        height: 60vh;
    }

    .Eres-Increible {
        width: 100%;
        height: 65px;
        font-size: 20px;

    }

    .controles {
        width: 40%;
        padding: 4px 8px;

    }

    footer {
        
        width: 100vw;
        height: auto;
    }

    .enlacesFooter {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: space-around;
        padding-top: 0;
        height: 78%;
       
    }

    .contenidoFooter {
        height: 500px;
    }

    .contenidoFooter img {
        width: 100px;
        height: 100px;
    }

    .enlaces {
       
        height: 30%;
        width: 100%;
        margin: 30px;
    }

    .copyRight {
   padding: 10px;
        width: 80%;
    }
}